#ctrl {
  $theme: $blue; // or $raspberry
  background: rgba($white, .9);
  padding: 15px;
  position: fixed;
  right: 8px;
  top: 8px;
  @include border-radius(3px, 3px);
  nav.nav {
    h5 {
      border-bottom: solid 1px $theme;
      color: darken($theme, 20%);
      margin: 0 0 8px;
      padding: 3px;

      i {
        $size: 18;
        $padding_top: $size/6;
        background: $theme;
        color: $white;
        display: inline-block;
        height: #{$size - $padding_top}px;
        margin-right: #{$size/4}px;
        padding-top: #{$padding_top}px;
        text-align: center;
        width: #{$size}px;
        @include border-radius(#{$size/2}px, #{$size/2}px);
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        padding: 0;

        a {
          color: darken($theme, 7%);
          font-size: .8em;
          padding: 5px;
          text-decoration: none;

          &:hover {
            color: $theme;
          }

          i {
            display: inline-block;
            font-weight: bold;
            margin-right: 3px;
            width: 13px;
          }
        }
      }
    }
  }
}
