.message-box {
  $theme: $blue; // or $raspberry
  background: $theme;
  border-radius: 5px;
  color: $white;
  display: none;
  padding: 10px;
  position: relative;

  &:after {
    $size: 8;
    border: {
      color: transparent transparent transparent $theme;
      style: solid;
      width: #{$size}px #{$size - 2}px;
    }
    content: '';
    display: block;
    height: 0;
    position: absolute;
    right: #{-2 * ($size - 2)}px;
    top: 29px;
    width: 0;
  }

  p {
    margin: 0 0 1em;
    text-align: left;
  }

  .date-box {
    color: mix($white, $theme, 50%);
    font-size: .9em;
    text-align: right;

    i {
      margin-right: 3px;
    }
  }
}
