.content {
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    background: transparentize($white, .7);
    border-radius: 3px;
    color: darken($blue, 20%);
    list-style: none;
    margin: 4px;
    padding: 7px;

    &.visited {
      background: transparentize($white, .4);

      &:hover {
        background: transparentize($white, .3);
        cursor: pointer;
      }
    }
  }
}
